html, body{
    width: 50%;
    margin: 0px auto;
    font-family: cursive;

}

.container{
    width: 360px;
}

#input{
    width: 300px;
    height: 30px;
    border: 2px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#add{
    margin-left: 15px;
    background-color: whitesmoke;
    height: 34px;
    width: 35px;
    border: 2px solid red;
    border-radius: 30px;
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;
}

.to-dos{
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0px;
    cursor: pointer;
    font-size: 20px;
}